* {
    padding: 5px;
}

.cizgi-renk {
    text-align: center;
    text-decoration: none;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;

}

.cizgi-renk:hover {
    transform: scale(0.9);
    background-color: white;

}

.renk {
    font-size: 15px;
    float: right;
}

.card {
    background: black;
}

.classifiedInfoList li {
    display: block;
    text-decoration: none;
    list-style: none;
    border-bottom: 1px dotted #ccc;
}

.sol {
    float: left;
    padding: 0px 30px 0px 10px;
    border-left: 2px solid black;
}

.sag {
    color: black;
    text-align: right;
}

.btn {
    width: 180px;
    border-right: 2px solid black;
    background-color: white;
    text-align: left;
}

.button-hareket {
    float: right;
}

.yazi-ortalama {
    text-align: center;
}


.backToTop {
    z-index: 999;
    position: fixed;
    font-size: 50px;
    color: #ffffff;
    border: none;
    border-radius: 55px;
    background: black;
}

.backToTop:hover {
    background: gray;
}



